/* Dashboard.css */

.container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
   
}

.column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
}


.nav-bar {
    height: 100vh;
    box-sizing: border-box;
    width: 8%;
}

.dashboard-content {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 92%;
    box-sizing: border-box; 
}

.cost-revenew {
    display: flex;
    justify-content: center;  
    align-items: center;    
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    width: 95%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}
.graph-card{
    display: flex;
    padding-left: 5px;
    width: 45%;
    height: 100%;
    justify-content: center;  
    align-items: center;
}
.col-6{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.graph{
    padding: 5px;
}

.col-5{
    display: flex;
    justify-content: center;  
    align-items: center;
        
    width: 90%;
}

.graph-costrevanue{
    width: 100%;

}



/* Responsive Design */
@media (max-width: 767px) {
    .col-md-2,
    .col-md-6,
    .col-md-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
